#mypageBack {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:1500px;
}
.MyPage {
    padding-top : 2vh;
    width: 1200px;
    min-width:1200px;
    background: white;
    text-align: center
}
.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#mypagetab {
    background-color: #ffea8f; /* Green */
    border: none;
    color: black;
    padding: 18px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 1px;
    font-weight: 600;
    cursor: pointer;
}

.my-profile {
    display: flex;
    justify-content: center;
    width: 1000px;
    flex-direction: column;
}

#infoblock {
    display: block;
    text-align: left;
    margin-bottom:10px;
}

#wr{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mylabel{
    display: inline-block;
    width: 1000px;
    text-align: left;
    font-size: 24px;
    margin-top: 20px;
    border-top: solid 2px;
}

#my{
    font-size: 24px;
    margin-top: 14px;
    margin-right: 10px;
}

#lr {
    display: flex;
    justify-content: center;
    align-items: center;
}

#userdetail{
    background-color: #b5b5b5;
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
}

#plannerCols {
    display: flex;
    justify-content: center;
    align-items: center;
}

#userdetail:hover{
    cursor: pointer;
}