.MainpageBackground {
    background-color: #fafafa;
}

.Mainpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.firstBlock, .secondBlock, .thirdBlock {
    padding: 15px;
    margin-top: 10px;
    margin-bottom:10px;
    display: block;
    width: 116vh;
}

.first_list, .second_list, .third_list {
    padding-top:20px;
    padding-bottom: 20px;
    display: box;
    width: 112vh;
    background-color:white;
}

.toCreate {
    padding-left: 20px;
    color: black;
}

.random_content {
    float: left;
    color: black;
    padding:10px;
    border : 3px solid #ccc;
    line-break: normal;
    margin: 10px;
    background:#f2eded;
}

.list_title {
    display: inline-block;
    text-align: left;
    background-color: #fcc051;
    border: none;
    color: black;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 110vh;
    text-decoration: none;
    font-size: 16px;
}