.MainpageBackground {
    background-color: #fafafa;
}

ul {
    list-style-type: none;
}

.Mainpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 1500px;
}

.firstBlock, .secondBlock, .thirdBlock {
    padding: 15px;
    margin-top: 2px;
    margin-bottom:2px;
    display: block;
    width: 1000px;
    
}

.first_list, .second_list, .third_list {
    padding-top: 20px;
    display: inline-block;
    width: 1000px;
    min-width: 1000px;
    background-color:white;
    border-radius: 15px;
}

.toCreate {
    padding-left: 20px;
    color: black;
}

.random_content {
    float: left;
    color: black;
    padding:10px;
    line-break: normal;
    margin: 10px;
}

.list_title {
    display: inline-block;
    text-align: left;
    border: none;
    color: black;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1000px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
} 