  html, body, #root{
    height: 100%;
    background: #fafafa
  }
  #Navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    overflow: hidden;
    background-color: #fcc051;
    margin-top: -10px;
  }

  #Logo {
    font-size: 20px;
    font-weight: bold;
    color:  #fcc051;
  }

  div .SearchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-top: -20px;
    margin-bottom: -20px;
    overflow: hidden;
    background-color: white;
  }

  div .searchbar {
    float: left;
    padding: 12px;
  }

  div .searchbar input {
    border: solid 2px black;  
    padding: 7px;  
  }

  div .searchbar img {
    display: block;
    padding: 2px;
    text-decoration: none;
  }

  div .searchbar img:hover {
    background-color: #111111;
  }

  #logo {
    float: left;
    color: white;
    padding: 12px;
  }
  
  #logo a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
  li {
    float: left;
    font-weight: bold;
    padding: 10px;
    margin-left:10px;
    margin-right: 10px;
  }
  
  li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #d6961e;
  }

  #lisign, #lilogin, #licreate, #lilogout {
    padding: 3px;
    background:#d6961e;
    margin-left:10px;
    border-radius:10px;
    font-size: 6px;
  } 