@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Monoton&family=Nanum+Gothic:wght@700&family=Satisfy&display=swap');
  html, body, #root{
    height: 100%;
    background: #fafafa;
    font-family: 'Nanum Gothic', sans-serif;
  }
  #nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd270;
    margin-top: -10px;
    min-width: 1500px;
  }
  #Navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    overflow: hidden;
    background-color: #ffd270;
    min-width: 1400px;
  }

  #Logo {
    font-family: 'Akronim', cursive;
    font-size: 40px;
    font-weight: 600;
    color:  #fcc051;
  }

  div .SearchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-top: -28px;
    margin-bottom: -28px;
    overflow: hidden;
    background-color: white;
    width: 100%;
    min-width: 1500px;
  }

  div .searchbar {
    float: left;
    padding: 12px;
  }

  div .searchbar input {
    border: solid 2px black;  
    padding: 7px;  
  }

  div .searchbar img {
    display: block;
    padding: 2px;
    text-decoration: none;
    cursor: pointer;
  }

  div .searchbar img:hover {
    background-color: #111111;
  }

  #logo {
    float: left;
    color: white;
    padding: 12px;
  }
  
  #logo a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
  li {
    float: left;
    font-weight: bold;
    padding: 10px;
    margin-left:10px;
    margin-right: 10px;
  }
  
  li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #d6961e;
  }

  #lisign, #lilogin, #licreate, #lilogout {
    padding: 3px;
    background:#d6961e;
    margin-left:15px;
    border-radius:10px;
    font-size: 6px;
  } 

  #subblock{
    margin-left: 30px;
  }

  #wave {
    font-size: 30px;
  }

  #navitem {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: -10px;
    margin-bottom: -10px;
  }