  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-top: -13px;
    margin-top: -13px;
    padding-bottom: -10px;
    overflow: hidden;
    background-color: #fcc051;
  }

  div .SearchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-top: -35px;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

  div .searchbar {
    float: left;
    padding: 12px;
  }

  div .searchbar input {
    border: none;    
  }

  div .searchbar img {
    display: block;
    padding: 2px;
    text-decoration: none;
  }

  div .searchbar img:hover {
    background-color: #111111;
  }

  logo {
    float: left;
    color: white;
    padding: 12px;
  }
  
  logo a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
  li {
    float: left;
    color: white;
    padding: 16px;
  }
  
  li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 13px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #d6961e;
  }