 .Mealplanner {
     min-width: 1500px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 #numOfDays {
    width:4.4em;
    margin-left: 15px;
    margin-right: 15px;
    font-size:16px;
    padding:5px;
}
.emptyImage{
    width:100px;
    height:100px;
    border: 1px solid black;
}
/*
.day{
    border: solid blue;
    width: 900px;
    overflow: hidden;
    display: flex;
    float: left
}
.singleBlock{
    width: 200px;
    height: 100px;
    display: inline-flex;
    float: left;
    overflow: hidden;
    border: solid red;
}

.cookbook{
    border: solid black;
    float: right;
    height: 100px;
    display: inline-flex;
} */
.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
}

#plannerContents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:100px;
}

#recipeBasket {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 50px;
    background-color: white;
    border-radius: 20px;
    border: 3px solid #89cff0; 
}

#mlpDescription {
    margin-top: 10px;
}

.Searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#drag {
    display: flex;
    justify-content: center;
    align-items: center;
}

#basket {
    flex-direction: column;
}

#mlpSave {
    margin-bottom: 20px;
}

.scrappedRecipe {
    border: 1px solid black
}

.planbutton {
    background-color: #e7851cf1;
    margin: 3px;
    border: none;
    padding: 6px;
    color: white;
    font-size:16px;
    font-weight: 650;
    border-radius: 5px;
    cursor: pointer;
}

.day {
    margin:12px;
    padding: 20px;
    border: 3px solid #ed820e;
    border-radius: 20px;
}

#rightbutton {
    margin-right: 20px;
}

#targetdays{
    font-size:16px;
    font-weight: 500;
}

#ml-generate{
    background-color: grey;
    padding:10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size:15px;
    font-weight: 800;
}

#mlpSave {
    background-color: grey;
    padding-left:20px;
    padding-right:20px;
    padding-top:7px;
    padding-bottom:7px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size:15px;
    font-weight: 800;
}

#mpdsc {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    border: 3px solid grey;
    border-radius: 20px;
    width:900px;
}

#mlpDescription, #mlpDescription2 {
    font-size: 18px;
}