html, body, #root, #root >div {
    height: 95%;
}

div .LoginBackground {
    height: 100%;
    background-color: #f2eded;
}

div .Login {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-break: normal;
}

div .Login label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: gray;
    border: none;
    color: white;
    width: 310px;
    height: 50px;
    text-decoration: none;
    font-size: 16px;
}

div .Login input {
    color: gray;
    width: 300px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div .Login  button {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 131px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
