.dish_step {
    width: 500;
    height: 500;
    text-align: center;
    margin-top:  50;
}

.dish_explanation1{
    background : #e3e1e1;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;

}