.ListBackground {
    background: #f2eded;
    min-width: 1500px;
}

.RecipeList{
    background: #f2eded;
    padding-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-break: normal;
    min-width: 1500px;
}
.search-confirm-button{
    display: inline-block;
    text-align: center;
    background-color: #fcc051;
    border: none;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    padding:5px;
    text-decoration: none;
    font-size: 13px;
    width: 100px;
    margin-top: 2px;
    margin-bottom: 50px;
}

.search-confirm-button:hover {
    cursor: pointer;
}

#categoryblock {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 50px;
}
.category-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    margin-top: 20px;
    
}

.search-mode-select-button {
    display: inline-block;
    text-align: center;
    background-color: gray;
    border: none;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    padding:5px;
    text-decoration: none;
    font-size: 13px;
    width: 100px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.search-mode-select-button:hover {
    cursor: pointer;
}

#list-option {
    padding: 10px;
}

#option_label{
    display: inline-block;
    text-align: center;
    background-color: black;
    border: none;
    color: #fcc051;
    border-radius: 10px;
    font-weight: bold;
    padding:10px;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
}

#list-input {
    padding:6px;
    margin: 10px;
    border:2px solid #e1e1e1;
    border-radius: 3px;
}

.search-options {
    background: #f2eded;
    display: block;
    height: 180px;
    width: 140px;
}

.search-options-button {
    display: inline-block;
    text-align: center;
    background-color: black;
    border: none;
    border-radius: 3px;
    color: #fcc051;
    font-weight: bold;
    padding:6px;
    text-decoration: none;
    font-size: 13px;
}

.category-select-button {
    display: inline-block;
    text-align: center;
    background-color: gray;
    border: none;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    padding:8px;
    text-decoration: none;
    font-size: 13px;
    margin: 5px;
}

.category-select-button:hover {
    cursor: pointer;
}

.search-options {
    margin-top: -30px;
}

#slice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#basket {
    display: block;
    width:100px;
}

.pagepage{
    display: inline-block;
    justify-content: center;
    text-align: center;
    background-color: #fcc051;
    border: none;
    border-radius: 3px;
    color: black;
    font-weight: bold;
    padding:5px;
    text-decoration: none;
    font-size: 13px;
    width: 40px;
    margin-top: 2px;
    margin-bottom: 15px;
}

.pagerow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-page-number-button{
    background-color: #fcc051;
    border: none;
    border-radius: 3px;
}

.list-page-previous-button:hover{
    cursor: pointer;
}

.list-page-number-button:hover{
    cursor: pointer;
}

.list-page-next-button:hover{
    cursor: pointer;
}