.first_list, .second_list, .third_list {
    background-color: white;
}

.random_content {
    margin-top: 50px;
    float: left;
    color: black;
    padding: 0px;
    border : 10px solid #ccc;
    line-break: normal;
}

.random_content p {
    margin: 0px;
    padding: 0px;
}

.random_content img {
    margin: 0px;
    padding: 0px;
    border-top : 10px solid #ccc;
}