#Comment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#comauthor {
    width:250px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #e87613;
    text-align: center;
    font-weight: 600;
}

#comcontent {
    width:250px;
    max-width:250px;
    text-align: center;
    overflow: auto;
    background-color: #f5f5f5;
    border:1px solid #e1e1e1;
    margin-bottom: 20px;
    padding: 5px;
}

#bottomline {
    margin-top: 20px;
    width: 300px;
}

#edit-comment-button, #delete-comment-button, #toggle-reply-button {
    background-color: #f59278;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#commentButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}